.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.randomText {
  color: chocolate;
}

.card {
  /* rounded-md bg-gray-50 p-2 mt-2 flex flex-row justify-between */
  border-radius: 8px;
  background-color: #f9fafb;
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
